<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="row border">
        <div class="col-md-6 left-panel">
            <p></p>
        </div>
        <div class="col-md-6 right-panel">
            <p><a href="/" class="right-panel text">ENGLISH</a></p>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-12">
            <h1 class="title">上海欢迎您！</h1>
        </div>
    </div>
    <div class="row img"></div>
    <div class="row border">
        <div class="col-md-1 left-panel">
            <p class="option left-panel">
                <a href="/search/zh/" class="option text">搜索</a>
            </p>
        </div>
        <div class="col-md-1 left-panel">
            <p class="option left-panel">
                <a href="/chart/zh/" class="option text">作图</a>
            </p>
        </div>
        <div class="col-md-4 left-panel">
            <p></p>
        </div>
        <div class="col-md-6 right-panel">
            <p class="right-panel text">严心宇，2018年4月</p>
        </div>
    </div>
</body>
</html>