<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="row border">
        <div class="col-md-6 left-panel">
            <p></p>
        </div>
        <div class="col-md-6 right-panel">
            <p><a href="/zh/" class="right-panel text"><strong>中文</strong></a></p>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-12">
            <h1 class="title">WELCOME TO SHANGHAI!</h1>
        </div>
    </div>
    <div class="row img"></div>
    <div class="row border">
        <div class="col-md-1 left-panel">
            <p class="option left-panel">
                <a href="/search" class="option text">SEARCH</a>
            </p>
        </div>
        <div class="col-md-1 left-panel">
            <p class="option left-panel">
                <a href="/chart" class="option text">CHART</a>
            </p>
        </div>
        <div class="col-md-4 left-panel">
            <p></p>
        </div>
        <div class="col-md-6 right-panel">
            <p class="right-panel text">XINYU YAN, APR 2018</p>
        </div>
    </div>
</body>
</html>