<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>搜索页</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/search.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/table_zh.js"></script>
</head>
<body>
    <div class="row border">
        <div class="col-md-6 left-panel">
            <p></p>
        </div>
        <div class="col-md-6 right-panel">
            <p><a href="/search" class="right-panel text">ENGLISH</a></p>
        </div>
    </div>

    <div class="row checkbox-area">
        <div class="col-md-1 left-panel">
            <p class="group-title">区 域</p>
            <br/>
            <button class="button-search" onclick="search()">搜 索</button>
        </div>
        <div class="col-md-11">
            <table>
                <tbody>
                <tr>
                {% for index in range(20) %}
                    <td class="header-td">
                        {% if index == 0 %}
                        <input type="checkbox" name="ALL" id="ALL"/>
                        <label>全选</label>
                        {% else %}
                        <input type="checkbox" name="region" id="{{ index }}"/>
                        <label>{{ region_dict[index] }}</label>
                        {% endif %}
                    </td>
                {% if index in [4, 9, 14] %}
                </tr>
                <tr>
                {% endif %}
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="table">
        <table class="display" id="search-table"></table>
    </div>

    <div class="row border">
        <div class="col-md-1 left-panel">
            <p class="option left-panel">
                <a href="/zh/" class="option text">主页</a>
            </p>
        </div>
        <div class="col-md-1 left-panel">
            <p class="option left-panel">
                <a href="/chart/zh/" class="option text">作图</a>
            </p>
        </div>
        <div class="col-md-4 left-panel">
            <p></p>
        </div>
        <div class="col-md-6 right-panel">
            <p class="right-panel text">严心宇，2018年4月</p>
        </div>
    </div>

</body>

<script>
    $("#ALL").click(function(){
        var status = $(this).prop("checked");
        var other = $("input[name='region']").prop("checked", status);
    });
</script>
</html>
